{% extends 'base.html.twig' %}

{% block title %}Galaxie index{% endblock %}

{% block body %}
    <h1>Galaxie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Taille</th>
                <th>Description</th>
                <th>Diametre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for galaxie in galaxies %}
            <tr>
                <td>{{ galaxie.id }}</td>
                <td>{{ galaxie.Nom }}</td>
                <td>{{ galaxie.Taille }}</td>
                <td>{{ galaxie.Description }}</td>
                <td>{{ galaxie.Diametre }}</td>
                <td>
                    <a href="{{ path('galaxie_show', {'id': galaxie.id}) }}">show</a>
                    <a href="{{ path('galaxie_edit', {'id': galaxie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('galaxie_new') }}">Create new</a>
{% endblock %}
